python-dotenv


# Framework or Technology for AI Agents
langchain
langchain-core
langchain-community
langchain-text-splitters

# LLM PROVIDER
langchain-groq

# VECTOR STORE
faiss-cpu

# NOTEBOOK
jupyter
ipykernel

# WEB APP
streamlit